[submodule "gcloud-sdk-java"]
	path = gcloud-sdk-java
	url = https://github.com/cakhanif/gcloud-sdk-java
[submodule "gcloud-sdk-node"]
	path = gcloud-sdk-node
	url = https://github.com/cakhanif/gcloud-sdk-node
[submodule "cockpit-kubernetes"]
	path = cockpit-kubernetes
	url = https://github.com/cakhanif/cockpit-kubernetes
[submodule "centos-openjdk11"]
	path = centos-openjdk11
	url = https://github.com/cakhanif/centos-openjdk11
